{% extends 'base.html' %}
{% load static %}

{% block title %}Tarefas{% endblock %}

{% block content %}
    <!-- Título da página -->
    <div class="main-title">
        <h2 class="m-4">Lista de Tarefas</h2>
    </div>

    <div class="p-5">
        <!-- Formulário para adicionar nova tarefa -->
        <div class="p-3" id="nova-tarefa">
            <h4 class="mb-3">Nova Tarefa:</h4>
            <form method="POST" class="row align-items-center">
                {% csrf_token %}
                <!-- Loop pelos campos do formulário -->
                {% for field in form %}
                    <div class="col-sm-3">
                        <div class="row gy-2 gx-3">
                            <!-- Label do campo -->
                            <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label">{{ field.label }}</label>
                            <!-- Campo do formulário -->
                            <div class="col-sm-8">
                                {{ field }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- Botão para adicionar nova tarefa -->
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </form>
            
        </div>

        <hr>

        <!-- Tabela de listagem das tarefas -->
        <table class="table mt-4" id="lista_tarefas">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Titulo</th>
                    <th scope="col">Status</th>
                    <th scope="col">Término</th>
                    <th scope="col">Deletar</th>
                </tr>
            </thead>
            <!-- Loop pelas tarefas -->
            {% for el in tarefas %}
            <tbody>
                <tr class="table-dark align-middle" id="{{el.id}}">
                    <th scope="row">
                        <!-- Div para o título da tarefa, com diferença para o caso de tarefa finalizada -->
                        {% if el.status.id == 3 %}
                            <div class="titulo" id="titulo{{el.id}}" data-title="{{el.id}}" style="text-decoration-line:line-through;">{{el.titulo}}</div>
                        {% else %}
                            <div class="titulo" id="titulo{{el.id}}" data-title="{{el.id}}">{{el.titulo}}</div>
                        {% endif %}

                        <!-- Formulário de edição do título da tarefa -->
                        <form class="d-none d-flex" id="form-title{{el.id}}" method="GET" style="width:30rem;">
                            <input class="form-control" type="text" id="inputText{{el.id}}" value="{{el.titulo}}">
                            <!-- Botão para salvar a edição do título -->
                            <button type="submit" class="btn" id="edit{{el.id}}"><i class="fa fa-edit link-warning"></i></button>
                        </form>
                    </th>

                    <th scope="row">
                        <!-- Select para o status da tarefa -->
                        <div class="SelDiv">
                            <select class="form-select" name="status" id="{{el.id}}">
                                <!-- Loop pelos status disponíveis -->
                                {% for st in status_list %}
                                    <option value="{{st.id}}" {% if el.status.id == st.id %} selected {% endif %}>
                                    {{st.nome}}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </th>

                    <!-- Campo da data de término -->
                    <th scope="row">
                        <div class="data_termino" id="data{{el.id}}" data-termino="{{el.id}}">{{el.data_termino}}</div>
                    
                        <!-- Formulário de edição da data de término -->
                        <form class="d-none d-flex" id="form-date{{el.id}}" method="GET" style="width:15rem;">
                            <input class="form-control" type="date" id="inputDate{{el.id}}" value="{{el.data_termino}}">
                            <!-- Botão para salvar a edição do título -->
                            <button type="submit" class="btn" id="edit_data{{el.id}}"><i class="fa fa-edit link-warning"></i></button>
                        </form>
                    
                    </th>
                    
                    <th scope="row">
                        <!-- Botão para deletar a tarefa -->
                        <a class="btn" id="btn-delete" data-delete="{{el.id}}"><i class="fa fa-trash link-danger"></i></a>
                    </th>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">

        // Atualiza título da tarefa ao clicar
        $("div.titulo").click(function () {
            var data_id = $(this).attr("data-title");
                
            // Mostra o formulário de edição e oculta o título
            $("form#form-title" + data_id).removeClass('d-none')
            $("div#titulo" + data_id).addClass('d-none')
                
            // Evento ao clicar no botão de edição
            $('button#edit' + data_id).on("click", function (e) {
                e.preventDefault();
                            
                // Obtém o novo título da entrada de texto
                titulo = $('input#inputText'+ data_id).val();
                    
                // Requisição AJAX para atualizar o item
                $.ajax({
                    type: 'GET',
                    url: '{% url "update-item" %}',
                    data: {'data_id': data_id,'titulo': titulo, 'alvo': 'titulo',},
                    datatype: "json",
                    success: function (data) {
                        // Se a atualização for bem-sucedida, oculta o formulário de edição e mostra o título atualizado
                        if (data.status == "update-item") {
                            $("form#form-title" + data_id).addClass('d-none');
                            $("div#titulo" + data_id).removeClass('d-none'); 
                            $("#titulo" + data_id).html(data.titulo); 
                        }  
                    }
                }); 
            });
        });


        // Atualiza data da tarefa ao clicar
        $("div.data_termino").click(function () {
            var data_id = $(this).attr("data-termino");
                
            // Mostra o formulário de edição e oculta a data
            $("form#form-date" + data_id).removeClass('d-none')
            $("div#data" + data_id).addClass('d-none')
                
            // Evento ao clicar no botão de edição
            $('button#edit_data' + data_id).on("click", function (e) {
                e.preventDefault();
                            
                // Obtém a nova data da entrada de texto
                data_termino = $('input#inputDate'+ data_id).val();
                    
                // Requisição AJAX para atualizar o item
                $.ajax({
                    type: 'GET',
                    url: '{% url "update-item" %}',
                    data: {'data_id': data_id,'data_termino': data_termino, 'alvo': 'data',},
                    datatype: "json",
                    success: function (data) {
                        // Se a atualização for bem-sucedida, oculta o formulário de edição e mostra a data atualizada
                        if (data.status == "update-item") {
                            $("form#form-date" + data_id).addClass('d-none');
                            $("div#data" + data_id).removeClass('d-none');
                            
                            var originalDate = new Date(data_termino);
                            originalDate.setMinutes(originalDate.getMinutes() + originalDate.getTimezoneOffset());

                            // Formatando a data
                            var formattedDate = originalDate.toLocaleDateString('pt-BR', {
                                year: 'numeric',
                                month: 'long',
                                day: '2-digit'
                            });

                            // Atualizando o html com a nova data
                            $("#data" + data_id).html(formattedDate);
                        }  
                    }
                }); 
            });
        });


        // Muda status do item da lista
        $("div.SelDiv select").on('change', function () {

            var data_id = this.id;
            var status_id = $(this).find('option').filter(':selected').val();

            // Requisição AJAX para atualizar o status do item
            $.ajax({
                type: 'GET',
                url: '{% url "update-status" %}',
                data: {
                    'data_id': data_id,
                    'status_id': status_id,
                },
                datatype: "json",

                success: function (data) {
                    // Se o status for concluído (id=3), aplica estilo de texto riscado
                    if (status_id == 3) {
                        $("div#titulo" + data_id).css("text-decoration-line", "line-through"); 
                    } else {
                        $("div#titulo" + data_id).css("text-decoration-line", "");
                    }
                }
            });
        });


        // Deleta um item da lista
        $("a#btn-delete").on("click", function (e) {
            e.preventDefault();

            var tarefa_id = $(this).attr("data-delete");
            
            // Requisição AJAX para deletar o item
            $.ajax({
                type: 'GET',
                url: '{% url "delete" %}',
                data: { 'tarefa_id': tarefa_id },
                datatype: "json",
                success: function (data) {
                    // Se a exclusão for bem-sucedida, remove a linha da tabela
                    if (data.status == "delete") {
                        $("tbody tr#" + tarefa_id).fadeOut("slow", function () {
                            $("tbody tr#" + tarefa_id).remove();
                        });
                    } else {
                        // Alerta em caso de erro ao deletar
                        alert("Erro ao deletar tarefa!");
                    }
                }
            });
        });

    </script>

{% endblock %}
